@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Welkom op het componenten programma</h1>
<h3>Wat wilt u doen ?</h3>
<div>
    <p>@Html.ActionLink("Component beheer", "Index", "Component")</p>
    <p>@Html.ActionLink("Categorie beheer", "Index", "Categorie")</p>
    
    
</div>